input {
    margin: 20px 0px;
    padding: 5px 5px


}
body {
    background-color: rgb(0, 0, 0);
}
h1{
    color: rgba(254, 255, 255, 0.826);
}
h2 {
    color: rgba(255, 255, 255, 0.766);
}
div {
    color: white;

}